:root {
	--main-color: #ff283c;
	--hover-color: #b91827;
}

body {
	width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

body a {
	color: var(--main-color);
	text-decoration: none;
}
body a:hover {
	color: var(--hover-color);
}

header {

}
header .wrapper {
	display: flex;
	justify-content: space-between;

}

header h1 .logo img {

	width: 120px;
	height: 89px;
	margin-bottom: 1em;

}

header .main-menu-area ul {
	display: flex;
	list-style: none;
}

header .main-menu-area li {






}

header .main-menu-area li a {
	font-size: 1.5rem;
	margin-right: 15px;
	text-transform: uppercase;
}

/* Service styles */
.blocks .wrapper {
	display: flex;
	justify-content: space-between;
}
.blocks {

	padding: 40px;

}
.block {
	flex: 1;
	text-align: center;
	margin-right: 40px;
	padding: 40px;
	box-shadow: 0 0 6px rgba(0,0,0,0.2);
	border-top: 10px solid var(--main-color);
}
.block:last-child {
	margin-right: 0;
}

.block h3 {
	font-family: Montserrat;
	font-weight: 600;
	text-transform: uppercase;
}
.block ul {
	min-height: 250px;
}
.block ul li {
	list-style: none;
	text-align: left;
	padding: 5px;
}
.block ul li:before {
	 content: '';
	 padding: .5rem;
	 margin-right: 5px;
   display: inline-block;
   background-size: contain;
   background-image: url(./images/correct.svg);
}
.block a {
	font-size: .8rem;
	font-weight: 600;
	border: 3px solid var(--main-color);
	padding: 10px 20px;
	border-radius: 50px;
	text-transform: uppercase;
	font-family: Montserrat;
}
.block a:hover {
	background-color: var(--main-color);
	color: #FFF;
}

.wrapper {

	clear: both;
	margin-bottom: 1em;

}


h2 {
	font-family: Montserrat;
	font-weight: 600;
	color: var(--main-color);
	font-size: 160%;
	margin-bottom: 1em;
	text-shadow: 0 2px 2px rgba(0,0,0,0.2);
	text-align: center;

}

h3 {

	font-size: 140%;
	margin-bottom: 1em;

}

p {
	font-size: 120%;
	margin-bottom: 1em;
}

ul {

	font-size: 120%;
	margin-bottom: 1em;

}


/* Footer styles */
footer {
	margin-top: 80px;
}
.address-container {
	display: flex;
	justify-content: center;
}
.column {
	margin-right: 40px;
}
.address-title, .address-content {
	margin: 0;
}
.address-title {
	font-family: Montserrat;
	font-weight: 600;
}
.contact {
	display: flex;
	justify-content: center;
}
.slogan, .social-media, .copy {
	display: flex;
	justify-content: center;
	text-align: center;
}
.slogan {
	font-weight: 600;
	margin-bottom: 5px;
}

.icon {

	display: inline-block;
	width: 40px;
	height: 40px;
	margin: 20px 10px 10px 0;
	background-size: cover;
	text-indent: -9999px;

}

.icon-facebook {

	background-image: url(./images/facebook.png);

}

.icon-twitter {

	background-image: url(./images/twitter.jpg);

}

.icon-linkedin {

	background-image: url(./images/linkedin.png);

}

#cookie-bar {

	display: none;
	background: #ccc;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 123;
	width: 100%;
	text-align: center;

}

/* News page */
.news-container {
	width: 1200px;
	margin: 0 auto;
}
.news-container h1 {
	display: flex;
	justify-content: center;
	font-family: Montserrat;
	color: var(--main-color);
	text-transform: uppercase;
}
.post-item {
	border-top: 15px solid #ff283c;
	border-radius: 5px;
	padding: 40px;
	box-shadow: 0 0 4px rgba(0,0,0,0.2);
	margin-bottom: 60px;
}
.post-item h2 {
	text-align: left;
	margin: 0;
}
.post-author p {
	margin-top: 0;
}

.post-content .read-more {
	display: block;
	margin-top: 10px;
}

/* Archive page styles */

.bio {
	color: var(--main-color);
	text-align: center;
}
