body
	width: 1200px
	margin: 0 auto
	padding: 20px
body a
  color: var(--main-color)
  text-decoration: none
  &:hover
    color: var(--hover-color)

.wrapper
	clear: both
	margin-bottom: 1em

h2
	font-family: Montserrat
	font-weight: 600
	color: var(--main-color)
	font-size: 160%
	margin-bottom: 1em
	text-shadow: 0 2px 2px rgba(0,0,0,0.2)
	text-align: center

h3
	font-size: 140%
	margin-bottom: 1em

p
	font-size: 120%
	margin-bottom: 1em

ul
	font-size: 120%
	margin-bottom: 1em

