// Global navbar styling
.navbar-container
	position: fixed
	top: 32px
	width: 100%
	z-index: 999
.navbar
	max-width: 80%
	display: flex
	justify-content: space-between
	align-items: center
	margin: 0 auto
.navbar-bg // Style background of navbar after scrolling down
	background-color: var(--main-color)
	max-height: 10%
	transition: 1s
	.navbar .logo img
		width: calc(120px - 15%)
		height: calc(89px - 15%)

// Navbar logo
.navbar .logo img
	width: 120px
	height: 89px
	padding: 0 10px
.navbar .logo
	display: flex
	align-items: center
	color: #fff

// Mobile navbar with sidemenu

.navbar-sidemenu
	position: fixed
	top: 0
	right: 0
	z-index: 100
	background-color: #111
	opacity: .9
	height: 100%
	width: 0
	overflow-x: hidden
	transition: .5s
.main-menu-area-collapsed
	margin-top: 40px
	ul
		list-style: none
		li a
			padding: 0 40px
			font-size: 1.4rem
			color: #fff
			&:hover
				border-bottom: 3px solid var(--hover-color)
.btn-close
	color: #fff
	font-size: 2.5rem
	margin-left: 15px

.main-menu-area
	display: none

@media only screen and (min-width: 1001px)
	.main-menu-area
		display: block
	.main-menu-area ul
		display: flex
		list-style: none
		text-align: center

	.main-menu-area li a
		font-size: 1.3rem
		margin-right: 15px
		color: #FFF
		padding: 5px
		&:after // Links underline and hover
			display: block
			content: ''
			border-bottom: solid 3px var(--main-color)
			transform: scaleX(0)
			transition: transform 250ms ease-in-out
		&:hover:after
			transform: scaleX(1)
	.navbar-bg .main-menu-area li a
		&:after
			border-bottom: solid 3px var(--hover-color)
	.hamburger
		display: none